.button{
    background-color: rgb(14, 14, 231);
    margin-top: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 100%;
    transition: 500ms;
    font-size:larger;
}

.button:hover{
    background-color: rgb(11, 11, 172);
}

.redButton{
    background-color: rgb(243, 18, 18);
    margin-top: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 50%;
    transition: 500ms;
    font-size:larger;
    margin: 0 auto;
}

.redButton:hover{
    background-color: rgb(221, 2, 2);
}
