.formWrapper{
    display: flex;
    justify-content: center;
}

.formGroup{
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    border: none;
}

.label{
    margin-bottom: 1rem;
}

.input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    
}

.errorMsg{
    color: rgb(253, 58, 58);
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.error{
    border: 2px solid rgb(253, 58, 58);;
}