body {
  margin: 0;
  background-color: #EDEDED;
  font-family: 'Nunito Sans', sem serifa;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
